body
{
	font-size: 18px;
	width: 650px;
	margin: 40px  auto;
	line-height: 1.6;
	color: #444;
}

h1, h2, h3
{
	line-height: 1.2;
}

.italique
{
	font-style: italic;
}

span[class="gras"]
{
	font-weight: bold;
}

span[class="courier new"]
{
	font-family: "Courier New";
}


